body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; 
    color: #66bfbf;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px; 
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E; 
}

a:hover {
    color: #eaf6f6; 
} 

p {
    color: #40514E; 
    line-height: 2; /* more line spacing for text, no need unit for line-height */
}

.top-container {
    background-color: #e4f9f5;
    padding-top: 100px; 
    position: relative; /* so the bottom cloud is relative to this parent top container only instead of body */
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0;
}

.profile {
    width: 53%; 
    margin: 50px auto 0px auto; 
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 250px;
    top: 50px; 
}

.bottom-cloud {
    position: absolute;
    left: 250px; 
    bottom: 300px; 
} 

.profile-pic {
    width: 200px; 
}

.text-container {
    display: block; 
    width: 50%; 
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto; 
    text-align: left;
}

.cs-img {
    width: 25%;
    float: left; 
    margin-right: 30px; 
}

.math-img {
    width: 25%;
    float: right;
    margin-left: 30px; 
}

.dl-img {
    width: 25%;
    float: left; 
    margin-right: 30px; 
}

.quote {
    margin-bottom: 50px; 
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #eaf6f6;
    border-width: 5px;
    margin: 100px auto; 
    width: 5%; 
  }

  .footer-link {
    margin: 0px 25px 0px 25px; 
    text-decoration: none;
  }

  .contact-me {
    margin: 0px auto 100px auto;
    width: 50%;
    text-align: center;
  }

  .copyright {
    color: #eaf6f6;
    margin-top: 50px; 
    font-size: 0.75rem;
  }